input.blubtn {
    width: 90px;
    text-align: center;
    display: block;
    font-family: arial;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #1071FF 1px solid;
    color: #1071FF;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    /*margin: 1% 45% 1% 49%;*/
    transition: .5s;
    border-radius: 0px;
}
input.blubtn:hover {
    top: 5px;
    transition: .5s;
    color: #10FF58;
    border: #10FF58 1px solid;
    border-radius: 10px;
}
input.blubtn:active {
    color: #000;
    border: #1A1A1A 1px solid;
    transition: .07s;
    background-color: #FFF;
}
.container_cont{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #42a392;
}
.container__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height:100px;
    background: #ffffff;
}